<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HouseHoldService"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31" >
        <activity
            android:name=".Completed_jobs"
            android:exported="true" />
        <activity
            android:name=".CurrentJob"
            android:exported="true" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".AvailableJobs"
            android:exported="true" />
        <activity
            android:name=".JobDetails"
            android:exported="false" />
        <activity
            android:name=".JobRequests"
            android:exported="false" />
        <activity
            android:name=".WorkerHome"
            android:exported="true" />
        <activity
            android:name=".LocationSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRequests"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1QR2BNgq3oAH4jb8h3OT0zjJMANo-A9k" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.householdservice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.householdservice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ProfileEdit"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".UpdatePassword"
            android:exported="true" />
        <activity
            android:name=".ProfileView"
            android:exported="true" />
        <activity
            android:name=".RequestServiceActivity"
            android:configChanges="screenSize|smallestScreenSize|orientation"
            android:exported="true" />
        <activity
            android:name=".CreateAccount"
            android:exported="true"
            android:theme="@style/Theme.HouseHoldService" />
        <activity
            android:name=".WorkerLoginActivity"
            android:exported="true" />
        <activity
            android:name=".Home_page"
            android:exported="true" />
        <activity
            android:name=".serviceDetails"
            android:exported="true" />
        <activity
            android:name=".Login_page"
            android:exported="true"
            android:theme="@style/Theme.HouseHoldService" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>